body {
    background-image: url(https://github.com/hilaryvalenciawalsh/prework-about-me/blob/master/img/code.jpg?raw=true;)
}

nav {
    min-height: 80px;
}

.navbar-brand {
    font-size: 2.2vw
}

.nav-link {
    font-size: 1.6vw;
}

.card {
    margin: 10% 2%;
    padding: 50px 20px 60px 20px;
    width: 70%;
    height: 45%;
}

.card-title {
    font-size: 2vw;
    color: #c84646;
}

.card-text {
    font-size: 1.3vw;
}

.card-me {

    width: auto;
    max-width: 100%;
    height: auto;
}

.links {
    font-size: 2vw;
    color: #c84646;
}

.linkedin {
    height: 40px;
    width: 40px
}

.resume {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

/*style CONTACT*/
p {
font-size: 1.5vw;

}

#comment {
    font-size: 1.5vw;
    font-style: italic;
    font-weight: bold;
    color: #c84646;
}
button {
    font size: 1.5vw;
}
/*style PORTFOLIO*/

h1 {
    font-size: 2vw;
    color: #c84646;
    background: white
}

#portfolio-container {
    margin: 10% 2%;
    background: white;
    padding: 30px 75px
}

.card-portfolio {
    background: darkgrey
}

.card-name {
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
}